<div class="container profile">
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12">
                Update @<%= user.firstname %>'s Information
                <hr>
                <form action="/update" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" name="firstname" value="<%= user.firstname %>" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="lastname" value="<%= user.lastname %>"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" value="<%= user.username %>"/>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" name="age" value="<%= user.age %>"/>
                    </div>
                    <div class="form-group">
                        <select name="preference" class="form-control" id="exampleFormControlSelect1">
                            <option><%= user.preference %></option>
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="hobby" value="<%= user.hobby %>">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="interest" value="<%= user.interest %>">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="language" value="<%= user.language %>">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="nationality" value="<%= user.nationality %>">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="countryOfResidence"
                            value="<%= user.countryOfResidence %>">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                Upload Profile Picture @<%= user.firstname %>
                <hr>
                <form action="/ppUpdate" method="post">
                    <div class="form-group">
                        <input type="file" id="inp">
                        <hr>
                        <input type="text" class="form-control" name="profile" id="b64" readonly />
                        <hr>
                        <img height="200" id="img">
                    </div>
                    <button type="submit" class="btn btn-success">Upload</button>
                </form>
            </div>
            <br>
        </div>
    </div>
</div>
<script>
    function readFile() {
        if (this.files && this.files[0]) {
            var fr = new FileReader();
            fr.addEventListener("load", function (e) {
                document.getElementById("img").src = e.target.result;
                document.getElementById("b64").value = e.target.result;
            });
            fr.readAsDataURL(this.files[0]);
        }
    }
    document.getElementById("inp").addEventListener("change", readFile);
</script>