<div class="container profile">
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12" style="font-size: 15px;">User Info
                <hr>
                <% if(user.profilePic) { %>
                <img style="border-radius: 10px;" src="<%= user.profilePic %>" alt="profile pic">
                <% } else { %>
                <img style="border-radius: 20px;" src="./images/595865.jpg" alt="profile pic">
                <% } %>
                <hr>
                Bio
                <div class="col"><span>&bull;</span> <%= user.bio %></div>
                <hr>
                <div class="col"><span>&bull;</span> Username : <%= user.username %></div>
                <div class="col"><span>&bull;</span> Name : <%= user.firstname %></div>
                <div class="col"><span>&bull;</span> Surname :<%= user.lastname %></div>
                <div class="col"><span>&bull;</span> Age : <%= user.age %></div>
                <div class="col"><span>&bull;</span> Email : <%= user.email %></div>
                <div class="col"><span>&bull;</span> Gender : <%= user.gender %></div>
                <hr>
                Preference
                <div class="col"><span>&bull;</span><%= user.preference %></div>
                <div class="form-group">
                    <input type="text" name="prefAge" id="prefAge">
                    <script type="text/javascript">
                        var $pref = $("#prefAge");
                        $pref.ionRangeSlider({
                            type: "double",
                            min: 18,
                            max: 60,
                            from: '<%= user.prefAge.min %>',
                            to: '<%= user.prefAge.max %>',
                            prefix: 'Ages: ',
                            from_fixed: true,
                            to_fixed: true
                        });
                    </script>
                </div>
                <hr>
                Hobby
                <div class="col"><span>&bull;</span> <%= user.hobby %></div>
                <hr>
                Interest
                <div class="col"><span>&bull;</span> <%= user.interest %></div>
                <hr>
                Language
                <div class="col"><span>&bull;</span> <%= user.language %></div>
                <hr>
                Nationality
                <div class="col"><span>&bull;</span> <%= user.nationality %></div>
                <hr>
                Location
                <div class="col"><span>&bull;</span> Country : <%= user.countryOfResidence %></div>
                <div class="col"><span>&bull;</span> State : <%= user.state %></div>
                <div class="col"><span>&bull;</span> City : <%= user.city %></div>
                <hr>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                Other Users
                <hr>
                <div class="col-md-12" id="otherUsers" style="background-color: maroon !important;"></div>
            </div>
        </div>
    </div>
</div>